In [146]:
import requests as req
from bs4 import BeautifulSoup
import tqdm.notebook as tqdm

In [26]:

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36'
}

params = {
    'has_price' : 'true'
}

cars_url = set()

for index in tqdm.trange(1, 2550):
    link = f"https://www.avito.ma/fr/maroc/voitures_d_occasion-%C3%A0_vendre?o={index}"
    
    requests = req.get(link, headers= headers, params=params)
    
    soup = BeautifulSoup(requests.content, "html")
    
    cars_list = soup.select("div.sc-1nre5ec-1>a.sc-1jge648-0")

    for car in cars_list:
        cars_url.add(car["href"])

  0%|          | 0/2549 [00:00<?, ?it/s]

TypeError: 'list' object cannot be interpreted as an integer

,Price,Year,Transmission,Fuel,Type,Sector,Mileage,Brand,Model,Number of doors,Origin,First owner,Power,Condition,Equipment
0,95000,2009,Manuelle,Diesel,"Voitures d'occasion, à vendre",Ville Nouvelle,0 - 4 999,Renault,Laguna,5,WW au Maroc,Oui,6 CV,Très bon,None
1,30000,1986,Manuelle,Diesel,"Voitures d'occasion, à vendre",Toute la ville,10 000 - 14 999,Volkswagen,Golf 2,5,Dédouanée,Non,7 CV,Très bon,"Climatisation, Jantes aluminium, Verrouillage ..."
2,85000,2019,Manuelle,Essence,"Voitures d'occasion, à vendre",Centre Ville,120 000 - 129 999,Dacia,Logan,5,WW au Maroc,Non,7 CV,Très bon,None
3,110000,2021,Manuelle,Diesel,"Voitures d'occasion, à vendre",Toute la ville,45 000 - 49 999,Renault,Kangoo,5,WW au Maroc,Oui,6 CV,Très bon,None
4,155000,2012,Manuelle,Diesel,"Voitures d'occasion, à vendre",Centre ville,250 000 - 299 999,BMW,Série 3,5,WW au Maroc,Non,8 CV,Excellent,"ABS, Airbags, CD/MP3/Bluetooth, Caméra de recu..."
5,6999,2010,Manuelle,Diesel,"Voitures d'occasion, à vendre",Toute la ville,200 000 - 249 999,Citroen,C4,5,WW au Maroc,Non,6 CV,Très bon,"ABS, Airbags, Climatisation, ESP, Limiteur de ..."
6,105000,2012,Automatique,Diesel,"Voitures d'occasion, à vendre",Harhoura,180 000 - 189 999,Jeep,Grand Cherokee,5,Dédouanée,Non,12 CV,Très bon,"ABS, Airbags, CD/MP3/Bluetooth, Caméra de recu..."
7,108000,2008,Manuelle,Diesel,"Voitures d'occasion, à vendre",Toute la ville,200 000 - 249 999,Audi,A4,5,WW au Maroc,Non,8 CV,Très bon,"ABS, Airbags, CD/MP3/Bluetooth, Climatisation,..."
8,290000,2021,Automatique,Diesel,"Voitures d'occasion, à vendre",Hay Dakhla,100 000 - 109 999,Volkswagen,Golf 8,5,Dédouanée,Oui,8 CV,Neuf,None
9,169000,2016,Automatique,Diesel,"Voitures d'occasion, à vendre",Ain Sebaa,200 000 - 249 999,Volkswagen,Touareg,5,Importée neuve,Non,12 CV,Excellent,None

In [3]:
list1 = []

list1.append(['Casablanca']) * 5

print(len(list1))

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'